.book-name{
    color: chocolate;
    font-size: 40px;
    display: inline-block;
    animation:floating 2s infinite;
    -webkit-animation:floating 2s infinite;
}
@keyframes floating{
   0%,20%,50%,80%,100%{
       transform: translateX(0);
   }
    40%{
         transform: translateX(30px);
    }
    60%{
         transform: translateX(15px);
        }

}
.spacer{
    flex: 1 1 auto;
}
.drawer-container{
    position: fixed;
    top:0;
    right:0;
    height: 100%;
    width: 40%;
    box-shadow: 0 2px 5px brown;
    background: white;
    z-index: 1000;
    /* transform: translateX(100%);
    transition: transform 0.3s ease; */
    transform: translateX(100%);
    transition: transform 0.3s ease;
}
.drawer-container.open{
    transform: translateX(0);
}
.drawer-content{
    height: 100%;
    display: flex;
    flex-direction: column;
}

::ng-deep .timepicker__header{
    background-color: chocolate !important;
}
::ng-deep .timepicker-button{
    color: chocolate !important;
}